html{
    font-family: 'Yanone Kaffeesatz',"Righteous", "Lato Light";
    font-weight: 400;
}
html *{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*header section*/
.header{
    height: 80px;
    background-color: #042440;
    width: 100%;
    position: relative;
    box-shadow: 0px 5px 5px #888888;
}

.header .icon{
    position: absolute;
    top: 10px;
    left: calc(50% - 30px);
    height: 60px;
    width: auto;
    display: block;
}

.header .icon_logout{
    position: absolute;
    top: 25px;
    height: 30px;
    width: auto;
    display: block;
    right: 25px;
}

.header .icon_back{
    position: absolute;
    top: 25px;
    height: 30px;
    width: auto;
    display: block;
    left: 25px;
}

.header .header_title{
    font-size: 6em;
    text-align: center;
    color: #efefef;
    display: block;
    line-height: 80px;
    font-weight: bold;
    display: none;
}



.menu{

}

.app_box{
    padding: 20px;
}

/* bottom menu styling*/

.menu_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #efefef;
}
.menu_bottom:after{
    display: table;
    clear: both;
    content: '';
}
.menu_bottom_section{
    width: 33.3333333333%;
    height: 100%;
    text-align: center;
    float: left;
    display: table;
    font: 0/0 a;         /* remove the gap between inline(-block) elements */

}

.home_icon{
    padding: 15px!important;
}
.challenge_icon{
    padding: 18px!important;
}

.menu_bottom_section:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.menu_bottom_section span{
    color: #8f8f8f;
    display: block;
    /*font-size: 1.17em;*/
}

.menu_bottom_section .icon{
    width: auto;
    height: 80%;
    padding: 20px;
    margin: auto;

    line-height: 100%;

    display: inline-block;
    vertical-align: middle;
}

.menu_buffer{
    display: block;

    /*was 80 px maar door padding appcontainer moet t 60 zijn*/
    margin-bottom: 60px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}

/*title sizes*/

.main_title{
    font-size: 4em;
    text-align: center;
    /*
    color: #8f8f8f;
    */
    color: #0f7cbf;
}
.sub_title{
    font-size: 3em;
    /*
    color: #042440;
    */
    color: #0f7cbf;

    font-weight: normal;
    /*
    text-align: center;
    */
    text-align: left;
}

.main_title span,
.sub_title span{
    /*
    color: #042440;
    */
    color: #0f7cbf;
    font-size: 80%;
}

.main_logo{
    margin: 20px auto;
    display: block;
    width: 40%;
    height: auto;
}
p{

    margin: 0;
}

.main_section{

    margin-bottom: 20px;
}

.main_section > *{
    margin-bottom: 10px;
}

.main_button{
    border: none;
   /* background-color: #0f7cbf;*/
    background-color: #042440;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 4em;
    display: block;
    text-decoration: none;
    padding: 10px 0;

    /*box-shadow: 0px 5px 5px #0b5d90;*/
}

.selection_container{

}
.selection_container ul{
    list-style: none;
    padding: 0;
}
.selection_container li{
    margin-bottom: 20px;

}
.selection_container a{
    font-size: 3em;
    text-decoration: none;
    color: #8f8f8f;
}

.spec_list{
    padding: 0;
    list-style: none;
    font-size: 2.5em;
}
.spec_list li{
    padding: 0;
    margin-bottom: 5px;
}

.spec_list span{
    color: #042440;
    float: right;
}

/*floating bottom part*/

.bot_fixed_part{
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*warning messages*/

.message_warning_box{
    font-size: .5em;
    color: #042440;
    margin-bottom: 20px;
}

.formlink{
    color: #8f8f8f;
    text-decoration: none;
    display: block;
    font-size: 3em;
    text-align: center;
    margin: 20px 0;
}
.formlink:hover{
    color: #042440;
}

.formlink:last-child{
    margin-bottom: 0;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.content_box_red{
    margin-top: 20px;
    background-color: #042440;
    width:  calc(100% + 40px);
    margin-left: -20px;
    padding: 20px;
}

.content_box_red p,
.content_box_red h2,
.content_box_red h3,
.content_box_red li,
.content_box_red span
{
    color: #FFFFFF;
}

.content_box_red a{
    color: #FFFFFF;
    text-decoration: none;
}
.content_box_red .main_button{
    border: 1px solid #FFFFFF;
}
.content_box_red .main_button:hover,
.content_box_red .main_button:active{
    background-color: #FFFFFF;
    color: #042440;
}

h1.main_title{
    margin: 0;
}
h2.sub_title{
    margin: 0;
    padding: 20px 0;
}


/*arrow down*/

.more-arrow {
    /*background-color: whitesmoke;
    border: 1px solid gainsboro;
    border-radius: 50%;*/
    width: 110px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}
.more-arrow:after, .more-arrow:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    border-top-width: 25px;
    position: absolute;
    left: 10px;

}
.more-arrow:before {
    border-top-color: red;
    top: 3px;
}
.more-arrow:after {
    border-top-color: white;
    top: 0;
}


/*basic form*/
.basic_form{
    width: 100%;
    font-size: 6em;
    text-align: center;
}


.basic_form label{
    width: 100%;
    font-size: .5em;
    display: block;
}
.basic_form label:after{
    content: '';
    display: table;
    clear: both;
}
.basic_form label span{
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.basic_form select{
    width: 100%;
    font-size: .5em;
    display: block;
}

.basic_form input[type="email"],
.basic_form input[type="password"],
.basic_form input[type="text"],
.basic_form input[type="number"],
.basic_form select,
.basic_form select option
{
    float: left;
    width: 100%;
    display: inline;
    margin-bottom: 20px;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #042440;
    background-color: white !important;
}

.basic_form input:-webkit-autofill {
    background-color: white !important;
}

.basic_form input[type="submit"]{
    font-size: .5em;
}

.form_btn{
    font-size: 1em;

}

/*traininglistitem*/
.basic_list{
    width: 100%;
    padding: 0;
    margin: 0;
}

.basic_list span.message{
    font-size: 2em;
}

.basic_list li{
    display: block;
    text-align: left;
    color: #000000;
    font-size: 2em;
}

.basic_list li span{
    font-size: 1.5em;
    padding: 10px;


    display: block;
}

.basic_list li.active{
    background-color: #042440;
    color: #FFFFFF;
    font-weight: bold;

}

.item_selection{

}
.item_selection a,
.item_selection .edit,
.item_selection .remove{
    display: block;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: lighter;
}



/*positionering*/
.left{
    text-align: left;
}

.newsection{
    margin-top: 20px;
}

.no_marg_bot{
    margin-bottom: -10px;
}

.align_left{
    text-align: left!important;
}

.basic_form{
    margin-bottom: 20px;
}

/*challenge page*/

.main_button_cont{

    margin-top: 20px;
    background-color: #042440;
    color: #FFFFFF;
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px;

    box-shadow: 0px 5px 5px #888888;
}
.main_button_cont:after{
    content: '';
    display: table;
    clear: both;
}

.main_button_cont span {
    float: left;
    width: 80%;
    font-size: 2.5em;
    line-height: 40px;

}


.main_button_cont img{
    display: block;
    float: left;
    height: 100%;
    width: 20%;

    display: none;
}

.challenge{
    width: 100%;
    background-color: #efefef;
}

.challenge .challenge_description{

}

.challenge .challenge_description:after{
    content: '';
    display: block;
    clear: both;
}

.challenge_description > div {
   /* width: 60%;
    background-color: #00AAE7;
    display: block;
    float: left;
    padding: 10px;*/
    height: 60px;

}
.challenge_description > div:last-child{
    /*width: 40%;
    float: left;
    padding: 10px;*/
}

.challenge_description > div {
    padding: 10px;
}
.challenge_description > div:after{
    content: '';
    display: block;
    clear: both;
}

.challenge_description > div h3{
    display: block;
    width: 70%;
    margin: 0;
    float: left;
}

.challenge_description > div a{
    float: left;
    display: block;
    width: 30%;
    height: 100%;
    background-color: #042440;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;

}
.challenge_description p{
    width: 100%;
    display: block;
    padding: 10px;
}

.add_challenge {

}

.add_challenge.accepted{
    background-color: #8f8f8f;
    color: #FFFFFF;
}

.challenge .challenge_details{
    display: block;
    padding: 10px;
}

.challenge_details ul.challenge_list{
    font-size: .75em;
    padding: 0;
}

ul.challenge_list li{
    padding: 0;
    margin: 0;

}

ul.challenge_list li span{
    padding: 0;
    display: inline;
    text-align: right;
    font-size: .8em;
}


.align_center{
    text-align: center;
}

.gray-out{
    background-color: #BBBBBB;
    color: #FFFFFF;
}

.green{
    background-color: #1bce02;
}

/*user challenge details*/
.user_challenge_box{
    width: 100%;
    font-size: 2em;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 10px;
}

.user_challenge_box:last-child{
    margin-bottom: 0;
}
.user_challenge_box h4{
    margin-bottom: 10px;
    font-size: 1.4em;

}

.user_challenge_box p{

}

.straight_progress_bar{
    margin:  20px 0;
    width: 100%;
    height: 4px;
    position: relative;
}

.user_challenge_box .challenge_details{


}

.user_challenge_box .challenge_details ul.challenge_list{
    padding: 0;
    list-style: none;
    font-size: 1em;
}
.user_challenge_box .challenge_list li{
    padding: 0;
}

.deviders{
    background-color: #042440;
    color: #FFFFFF;
    width: 100%;

    text-align: center;
}

.section_title{
    font-size: 3em;
    text-align: center;
}

.user_challenge_container > div{
    margin-bottom: 20px;
}

/*new section*/

