.login_form{
    width: 100%;
    font-size: 4em;
    text-align: center;
}


.login_form label{
    width: 100%;
    font-size: .8em;
    display: block;
}
.login_form label:after{
    content: '';
    display: table;
    clear: both;
}
.login_form label span{
    text-align: left;
    float: left;
    width: 100%;
}

.login_form input[type="email"],
.login_form input[type="password"]
{
    float: left;
    width: 100%;
    display: inline;
    margin-bottom: 20px;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #042440;
    background-color: white !important;
}

.login_form input:-webkit-autofill {
    background-color: white !important;
}

.login_form

.form_btn{
    font-size: 1em;

}


